@font-face {
    font-family: 'futura_bk_btbook';
    src: url('../../src/fonts/futura_book_font-webfont.woff2') format('woff2'),
         url('../../src/fonts/futura_book_font-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'futura_bk_btbook_italic';
    src: url('../../src/fonts/futura_book_italic_font-webfont.woff2') format('woff2'),
         url('../../src/fonts/futura_book_italic_font-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'futura_hv_btheavy';
    src: url('../../src/fonts/futura_heavy_font-webfont.woff2') format('woff2'),
         url('../../src/fonts/futura_heavy_font-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'futura_hv_btheavy_italic';
    src: url('../../src/fonts/futura_heavy_italic_font-webfont.woff2') format('woff2'),
         url('../../src/fonts/futura_heavy_italic_font-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'futura_md_btmedium';
    src: url('../../src/fonts/futura_medium_bt-webfont.woff2') format('woff2'),
         url('../../src/fonts/futura_medium_bt-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'futura_md_btmedium_italic';
    src: url('../../src/fonts/futura_medium_italic_font-webfont.woff2') format('woff2'),
         url('../../src/fonts/futura_medium_italic_font-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'bebas_neuebold';
    src: url('../../src/fonts/bebasneue_bold-webfont.woff2') format('woff2'),
         url('../../src/fonts/bebasneue_bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'bebas_neuebook';
    src: url('../../src/fonts/bebasneue_book-webfont.woff2') format('woff2'),
         url('../../src/fonts/bebasneue_book-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'bebas_neuelight';
    src: url('../../src/fonts/bebasneue_light-webfont.woff2') format('woff2'),
         url('../../src/fonts/bebasneue_light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'bebas_neue_regular';
    src: url('../../src/fonts/bebasneue_regular-webfont.woff2') format('woff2'),
         url('../../src/fonts/bebasneue_regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'bebas_neuethin';
    src: url('../../src/fonts/bebasneue_thin-webfont.woff2') format('woff2'),
         url('../../src/fonts/bebasneue_thin-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}