// global styles only
@import url('https://fonts.googleapis.com/css?family=Abel');

body, html {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: $gray;
    background-color: rgba(38,38,38,1);
    color: rgba(255, 255, 255, 0.7);
    font-family: 'Abel';
}

*::selection {
    background-color: #fff;
    color: #fff;
}

h1, .h1-style {
    font-family: 'bebas_neuebold';
    font-size: 80px;
    letter-spacing: 2px;
    line-height: 1;
    text-transform: uppercase;
    white-space: nowrap;

    @media screen and (max-width: $screen-sm) {
        white-space: inherit;
    }

    .blast {
        display: inline-block;
    }
}

h2 {
    color: $gray-lighter;
    font-size: 21px;
    text-transform: uppercase;
    padding: 0 20px;
    display: inline-block;
}

a {
    color: $gray-light;
    transition: color .3s;
    text-decoration: none;

    &:hover {
        color: #fff;
        text-decoration: none;
        transition: color .3s;
    }
}

section {
    position: relative;
    display: block;
    overflow: auto;
    margin: 200px 0;
}

.fade-up {
    opacity: 0;
    transform: translateY(20px);
}

.menu {
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1;
    width: 250px;
    line-height: 1;

    &.open {
        .menu-navigation {
            display: block;
        }

        .dh {
            opacity: 0;
        }

        .lines {
            opacity: 1;

            .line-1, .line-3 {
                opacity: 0;
            }
        }
    }

    ul {
        margin: 0;
        padding: 0;
        list-style-type: none;
    }
}

.menu-navigation {
    background-color: $gray-lighter;
    padding: 50px 50px 30px 30px;
    display: none;
}

.menu-icon {
    position: fixed;
    width: 50px;
    height: 50px;
    background-color: $gray-lighter;
    right: 0;
    top: 0;
    cursor: pointer;

    &:hover {
        .dh {
            opacity: 0;
            transition: opacity .3s;
        }

        .lines {
            opacity: 1;
            transition: opacity .3s;
        }
    }

    .dh {
        transform: translate(-50%, -50%);
        position: relative;
        top: 50%;
        left: 50%;
        text-align: center;
        width: 100%;
        display: block;
        font-size: 21px;
        pointer-events: none;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        -o-user-select: none;
        user-select: none;
        transition: opacity .3s;
    }

    .lines {
        position: absolute;
        transform: translate(-50%, -50%);
        top: 50%;
        left: 50%;
        overflow: auto;
        opacity: 0;
        transition: opacity .3s;
    }

    .line {
        width: 23px;
        height: 1px;
        background: #fff;
        margin-bottom: 5px;

        &:last-of-type {
            margin-bottom: 0;
        }
    }
}

// full page section
.fp-section {
    width: 100%;
    overflow: visible;

    @media screen and (max-height: 500px) {
        height: auto;
        min-height: 500px;
        margin-bottom: 100px;
    }
}

.section-portfolio, .section-contact {
    padding: 0 $gutter-sm;
}

.hero-section {
    height: auto;
    margin: 0 0 240px 0;
    
    h1 {
        font-size: 30vw;
        color: #212121;
        line-height: 1;
        transform: translate(-32px, -47px);
        pointer-events: none;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        -o-user-select: none;
        user-select: none;

        @media screen and (max-width: $screen-sm) {
            font-size: 90px;
            line-height: 0.8;
            transform: translate(0, 0);
            max-width: 300px;
        }

        span.drew {
            padding-right: 5.5%;
        }

        span.haas {
            padding-left: 1%;
        }
    }

    h2 {
        max-width: 500px;
        width: 100%;
        margin: 60px auto 0;
        text-align: center;
        display: inherit;
    }

    /* .tv-container {
        opacity: .8;
        position: relative;
        width: calc(100% - 30px);
        height: calc(100% - 30px);
        border-radius: 5px;
        margin: 0 auto;
        top: 50%;
        transform: translateY(-50%);
        overflow: hidden;

        .row {
            width: 100%;
            display: flex;

            > div {
                flex: 1;
            }
        }

        .row-1 {
            height: 68%;
        }

        .row-2 {
            height: 8%;
        }

        .row-3 {
            height: 12%;

            .left-side {
                background: linear-gradient(to right, rgba(255,255,255,1) 0%, rgba(181,181,181,1) 42%, rgba(0,0,0,1) 100%);
            }
            .right-side {
                background: linear-gradient(to right, rgba(255,255,255,1) 0%, rgba(181,181,181,1) 42%, rgba(0,0,0,1) 100%);
            }
        }

        .row-4 {
            height: 12%;
        }

        .gray { background-color: #ccc; }
        .yellow { background-color: #FEFE1A; }
        .teal { background-color: #0BFFFF; }
        .green { background-color: #14FA13; }
        .pink { background-color: #F525F3; }
        .red { background-color: #DE0301; }
        .blue { background-color: #0404DE; }
        .black { background-color: #000; }
        .white { background-color: #eee; }
        .grey1 { background-color: #eee; }
        .grey2 { background-color: #ddd; }
        .grey3 { background-color: #ccc; }
        .grey4 { background-color: #bbb; }
        .grey5 { background-color: #aaa; }
        .grey6 { background-color: #999; }
        .grey7 { background-color: #888; }
        .grey8 { background-color: #777; }
        .grey9 { background-color: #666; }
        .grey10 { background-color: #555; }
        .grey11 { background-color: #444; }
        .grey12 { background-color: #333; }
        .grey13 { background-color: #222; }
        .grey14 { background-color: #111; }
        .grey15 { background-color: #000; }
    } */
}

footer {
    background-color: #212121;
    padding: 20px 0;
}