.portfolio-item {
    h2 {
        @media screen and (max-width: $screen-xs) {
            margin-bottom: 50px;
        }
    }
}

.project-details {
    width: 50%;
    max-width: 600px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    line-height: 1;

    @media screen and (max-width: $screen-sm) {
        width: 80%;
    }
    
    @media screen and (max-width: $screen-xs) {
        width: 100%;
        padding: 0 5%;
    }

    &_number {
        font-size: 40px;
        margin-bottom: 13px;
        color: $gray-light;
        line-height: 1;

        &:before {
            //content: '';
            height: 100%;
            width: 100%;
            display: inline-block;
            position: absolute;
            background-color: $gray-light;
        }
    }

    &_info-icon {
        margin: 10px 0;
    }

    &_title {
        font-size: 80px;
        line-height: .9;
        position: relative;
        margin-bottom: 13px;

        @media screen and (max-width: $screen-xs) {
            font-size: 30px;
        }

        &:before {
            //content: '';
            height: 100%;
            width: 100%;
            display: inline-block;
            position: absolute;
            background-color: rgba(255, 255, 255, 1);
        }
    }

    &_link {
        display: inline-block;
        position: relative;

        &:before {
            //content: '';
            height: 100%;
            width: 100%;
            display: inline-block;
            position: absolute;
            background-color: $gray-light;
        }
    }

    &_accent {
        position: absolute;
        z-index: -1;

        @media screen and (max-width: $screen-xs) {
            transform: scale(0.5);
        }
    }

    &_description {
        line-height: 1.5;

        @media screen and (max-width: $screen-xs) {
            font-size: 14px;
        }

        p {
            position: relative;
            
            &:before {
                //content: '';
                height: 100%;
                width: 100%;
                display: inline-block;
                position: absolute;
                background-color: $gray-light;
            }
        }
    }
}

.laughingcow {
    .project-details_accent {
        background: linear-gradient(to right, #1e5799 0%,#ff4949 100%);
        right: -59px;
        top: -76px;
        z-index: -1;
        width: 270px;
        height: 130px;
    }
}

.designcentral {
    .project-details_accent {
        background: linear-gradient(to right, rgba(68,68,68,1) 0%,rgba(203,220,65,1) 100%);
        right: -59px;
        top: -76px;
        z-index: -1;
        width: 150px;
        height: 150px;
        border-radius: 50%;
    }
}

.tribute {
    .project-details_accent {
        border: 2px solid #d8b75a;
        width: 170px;
        height: 230px;
        right: -30px;
        top: -76px;
    }
}

.ideafoundry {
    .project-details_accent {
        -webkit-clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
        clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
        background: linear-gradient(to right, rgba(248,80,50,1) 0%, rgba(63,185,188,1) 100%);
        width: 230px;
        height: 230px;
        right: 0;
        top: -100px;
    }
}

.additional {
    .project-details_link {
        display: block;
        margin-bottom: 5px;
    }
}